.about {
  padding: 3rem 0;
}

.about-img {
  max-width: 80%;
}

.about-intro {
  max-width: 80%;
  padding-top: 2rem;
  line-height: 1rem;
}


.intro-p {
    padding: 0.5rem 0;
    line-height: 1.2rem;
}

.about-cv {
    font-family: var(--ft-newbrug);
  text-decoration: none;
  color: var(--accent);
  cursor: pointer;
}

.about-stack {
  padding-top: 2rem;
  padding-right: 3rem;
}

.about-stack_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

@media only screen and (min-width: 1008px) {
  .about {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: auto auto; 
    gap: 2rem;
    margin-right: 4rem;

  }
  
  .about-stack {
    grid-column: 2;
    padding: 0;
    max-width: 90%;
  }

    .about-img {
      max-width: 100%;
      align-self: end;
      justify-self: end;
    }

    .about-intro {
      align-self: end;
    }
  

}