.contact {
  padding: 2rem 0;
}

.contact-title {
  font-size: 4rem;
  line-height: 3rem;
}

.contact-info {
  width: 70%;
  margin-top: 1rem;
}

.contact-item {
  margin: 2rem 1rem 0 0;
  font-family: var(--ft-newbrug);
  color: var(--charcoal);
  text-decoration: none;
  position: relative;
}


.contact-item::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: var(--accent);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  .contact-item:hover::before {
    transform: scaleX(1);
  } 

  .contact-item:hover {
    color: var(--accent);
  }

@media only screen and (min-width: 768px) {
  .contact {
    display: flex;
  }

  .contact-title {
    font-size: 6rem;
    line-height: 5rem;
    padding: 0 1rem 0 5rem;
  }

  .contact-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0 0 0.5rem 2rem;
  }

  .contact-list {
    padding-top: 1rem;
  }

}
